<h2>My Heroes</h2>
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">add</button>
</div>
<ul class="heroes">
  <li *ngFor="let hero_obj of heroes">
    <a routerLink="/detail/{{hero_obj.id}}">
      <span class="badge">{{hero_obj.id}}</span> {{hero_obj.name}}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero_obj)">x</button>
  </li>
</ul>
